 <ion-pane>
      <ion-header-bar class="navbar navbar-default">
        <img src="img/studiare-logo.png">
      </ion-header-bar>
  <ion-view view-title="Login" name="login-view">
        <ion-content class="padding">
           <br>
        <br>
        <br>
        <br>
                <br>
        <br>
        <br>
               <br>
          <div class="list" id="centro">
            <label class="item item-input">
              <input type="text" placeholder="Email" ng-model="data.username">
            </label>
            <label class="item item-input">
              <input type="password" placeholder="Senha" ng-model="data.password">
            </label>
      </div>
      <center>
      <button class="button button-block button-studiare" ng-click="login()">Entrar</button>
    </center>
    <br>
    <br>
        </ion-content>
  </ion-view>
        <div class="tabs" >
          <a class="tab-item"><b>Studiare 2015©</b></a>
    </ion-pane>
