<ion-side-menus>
  <!-- Right menu -->
  <ion-side-menu side="right">
      <header class="bar bar-header bar-stable">
      <h1 class="title">Olá {{user_name}}</h1>
    </header>
  <mypanel selected="users" user-admin="user_admin"></mypanel> 
  </ion-side-menu>


  <ion-side-menu-content>
     <ion-header-bar class="navbar navbar-default">
        <img src="img/studiare-logo.png"> 
          <button menu-toggle="right" class="button button-icon button-clear ion-navicon" ></button>
      </ion-header-bar> 
<ion-content>
        <br>
        <br>
        <br>
      <center>
      <h2>Usuários</h2>

      <ul class="list" ng-repeat="user in users">
    <li class="item" ng-click="information(user)">
      {{user.name}}
    </li>
</ul>
</center>
<br>
<br>
<br>
<br>
</ion-content>
<mypanelall></mypanelall>
