/* Empty. Add your own CSS if you like */
.navbar.navbar-default {
    background: #0a3a55;
	height:85px;
}

.tabs.tabs-icon-top {
    height: 50px;
}

	div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button.button-studiare {
    border-color: #011F2F;
    background-color: #0a3a55;
    width: 200px;
    color: #fff;
}
.button.button-studiare:active{
    border-color: #0a3a55;
    background-color: #011F2F;
}



.item.item-divider {
	display:block;
}

.button.button-assertive {
	margin: 10px;

}

.button.button-positive {
	margin: 10px;

}

#sright{
float:right;
}

.title-more{
    font-size: 15px; 
    font-weight: bold; 
    text-align: left; 
    float: left;
    color: rgb(0, 0, 255) !important;
}

.info-more {
    text-align: right; 
    float: right;
    color: #222 !important;
    max-width: 70%
}

color: red !important;


.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    opacity: 1 
}


.selected {
    color: blue;
}

.button.button-calm {
    margin: 20px;
    text-align: right; 
    float: right;
}

.tabs{
    height:50px;
}

.grey {
    background-color: #f5f5f5 !important;
}

.space{
    margin: 10px;
    float: right;
}



